aws_region         = "us-east-1"
project_name       = "tracker-simulator"
environment        = "dev"
lambda_runtime     = "python3.12"
lambda_memory_size = 256
lambda_timeout     = 10
log_retention_days = 14
